*{
  margin: 0;
  padding: 0;
}

body{
  padding: 0px;
  margin: 0px;
  background-color:#595F96;
  font-family: Arial;
  color:white;
}

#header ul{
  padding: 12px 0px 24px 0px;
  margin: 0;
  background-color:#CD4D00;
}

#header ul li{
  margin-right: 3%;
  margin-left: 0%;
  display:inline;
  font-size:12px;
  float: right;
  font-weight: bolder;
}

a:link{
  color:white;
  text-decoration:none;
  font-size:12px;
}

a:visited{
  color:white;
}

#main h3.tituloProjeto{
  padding: 5%;
  text-align: center;
  color: white;
  position:relative;
  display: block;
}

#main img.future4{
  display:block;
  margin: auto;
  margin-bottom:5%
}

#main p.nomeTurma{
  color:white;
  float:right;
  padding-right:3%;
  font-style: italic;
}

#footer{
  padding: 3%;
  margin-top: 8%;
  background-color: #D8D8D8;
}

#footer input.email_submit{
  padding-left: 1%;
  padding-right: 1%;
}